.presets-container {
  width: 100% !important;
  margin: 32px 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  color: #111112;
  font-family: 'Lato' !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  letter-spacing: 0.432px;
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.token-name {
  padding-top: 12px;
  color: #F0F;
  font-family: 'Lato' !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  letter-spacing: 0.432px;
}

.tokens {
  width: 435px !important;
  margin: 0 65px 0 165px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tokens .token {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4px;
}

.tokens .token .key {
  color: #111112;
  font-family: 'Lato' !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 0.192px;
  margin-right: 10px !important;
}

.tokens .token .value {
  color: #F0F;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Lato' !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.preview {
  width: 344px !important;
}
