.design-token-container {
  max-width: auto;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 25px 0 40px !important;
}

.design-token-card {
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 1px, rgb(0 0 0 / 7%) 0px 0px 0px 1px;
  border-radius: 4px;
}

.block-type-container {
  max-height: 630px;
  overflow: auto;
  padding: 15px;
}

.block-type-table {
  line-height: 24px;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  color: #2e3438;
  font-size: 12px;
  min-width: 700px;
  table-layout: fixed;
  text-align: left;
  width: 100%;
  position: relative;
}

.docblock-argstable-head {
  height: 28px;
}
.docblock-argstable-head tr {
  border-top: 1px solid hsla(203, 50%, 30%, 0.15);
  margin: 0;
  padding: 0;
  display: flex;
}
.docblock-argstable-head th {
  border: none !important;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: bold;
  margin: 0;
  padding: 6px 13px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 12px;
  flex-basis: 25%;
}

.docblock-argstable-head th:first-of-type{
  flex-basis: 46%;
  padding-right: 15px;
}

.docblock-argstable-head th:last-of-type{
  padding-left: 0;
}

.block-type-table tr {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ecf4f9;
  display: flex;
  border-top-color: #d9e8f2;
}
.block-type-table tr td{
  font-size: 12px;
  text-align: left;
  box-sizing: border-box;
  border: none!important;
  text-overflow: ellipsis;
  vertical-align: middle;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  color: #2E3438;
  margin: 0;
  padding: 6px 13px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  padding-right: 15px;
  flex-basis: 25%;

}

.block-type-table tr td:first-of-type{
  padding-right: 15px;
  flex-basis: 47%;
}

.block-type-table tr td:first-of-type span{
  color: #2E3438;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  font-family: ui-monospace,Menlo,Monaco,"Roboto Mono","Oxygen Mono","Ubuntu Monospace","Source Code Pro","Droid Sans Mono","Courier New",monospace;
  font-weight: 700;
  font-size: 12px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 100%;
  margin-top: 0;
}

.copy-icon-container {
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
}

.copy-icon{
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 6px;
  padding: 0;
  vertical-align: middle;
  height: 12px;
  width: 12px;
  margin-top: 0;
  margin-bottom: 0;
}